<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/pesquisa.css">
    <title>Anikin</title>
</head>
<body>
    <form action="#" method="post">
        <p>Título do Mangá:</p>
        <input type="text" name="manga_title" placeholder="Ex: fullmetal"></input>
        <input id='' type="submit" value="Buscar"></input>
    </form>
</body>
</html>