.thumbnail-wrapper {
    position: relative;
}

#passar {
    position:absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    opacity: 0; 
    background-color: red;
}

#voltar {
    position:absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    opacity: 0; 
    background-color: blue;
}